<style>
.panel {
    margin: 0 15px;
    padding: 5px;
    float: left;
    border: solid 1px gray;
    border-radius: 12px;
}
.paging {
    width: 30%;    
}
.panels {
    clear:both;
}
</style>
<h3>Data utils:</h3>
    <h4>Remote DataSource</h4>
    <button igxButton="raised" (click)="this.ds2.process()">DataBind</button>
    <!--<table>
        <tr *ngFor="let dataRow of ((remoteData|async) || {}).transformedData">
            <td *ngFor="let key of listRemoteData.keys">
                {{dataRow[key]}}
            </td>
        </tr>
    </table>-->
    <data-iterator #listRemoteData [dataContainer]="remoteData|async"></data-iterator>

    <div class="panels">
        <h4>Paging + Filtering + Sorting:</h4>

        <div *ngIf="dataContainer.state && dataContainer.state.paging"
            class="paging panel">
            <h5>Paging</h5>
            <div class="igx-form-group">
                <input width="100" igxInput type="number" [(ngModel)]="dataContainer.state.paging.index"/> <label igxLabel>Page index: </label> 
            </div>
            <div class="igx-form-group">
                <input igxInput type="number" [(ngModel)]="dataContainer.state.paging.recordsPerPage"/><label igxLabel>Page size:</label>
            </div>
            <button igxButton="raised" (click)="processData()">Process Data</button>
        </div>
        
        <div class="paging panel">
            <h5>Sorting panel</h5>
            <table>
                <tr *ngFor="let column of (helper.columns || [])">
                    <td>
                        {{column.name}}:
                    </td>
                    <td>
                        <button igxButton="raised" (click)="changeSortDirection(column.name)">Change Sorting</button>
                    </td>
                    <td>
                        {{getSortingDirecitonText(column.name)}}
                    </td>
                </tr>
            </table>
        </div>

        <div class="filtering panel">
            <h5>Filtering</h5>
            <table #filteringPanel>
                <tr *ngFor="let column of (helper.columns || [])" 
                    [attr.data-field-name]="column.name">
                    <td>
                        {{column.name}}:
                    </td>
                    <td>
                        <select [attr.data-filtering-type]="column.type">
                            <option *ngFor="let opt of (getFilteringConditions(column.type) || [])"
                                [attr.selected]="isFilteringConditionSelected(column.name, opt)? true : null "
                                value="{{opt}}">
                                {{opt}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <input data-filtering-search width="100" *ngIf="column.type !== 'boolean'" igxInput type="{{column.type}}"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear:both;"></div>
    <span [innerHTML]="dataInfo.message"></span>

    <data-iterator #listData></data-iterator>
    
    <hr />
<hr>
